#aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
}

.main-container {
  width: 100%;
  overflow: hidden; /* Prevents overflow */
}

.aboutus-title {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 6rem;
  color: var(--secondary-text-color);
  -ms-text-kashida-space: 1rem;
}

/* Synchronize title size with equipment title */
@media (max-width: 1200px) {
  .aboutus-title {
    padding-top: 4rem;
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .aboutus-title {
    padding-top: 1rem;
    font-size: 3rem;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  padding-left: 5px; /* Add padding on the left */
  padding-right: 5px; /* Add padding on the right */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.image-container {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.text-container {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.text-container h2 {
  margin-bottom: 20px;
  font-weight: bold; /* Increase font weight for company name */
}

.text-container p {
  margin-bottom: 15px;
}

.btn-aboutus {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-aboutus:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

.employees-section {
  max-width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-container {
    width: 60%;
    margin-right: 20px;
  }

  .text-container {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .content-container {
    width: 100%;
    padding-left: 5px; /* Add padding on the left */
    padding-right: 5px; /* Add padding on the right */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .text-container {
    width: 100%;
    margin-left: 10px; /* Add margin on the left */
    margin-right: 10px; /* Add margin on the right */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
}
