.contact-us-section{
  height: 65vh;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  padding-top: 5px;
}

.contact-header{
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  text-align: center;
}

.contact-text a {
  color: var(--primary-text-color);
  text-decoration: none;
  margin-left: 8px;
}

.contact-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.contact-icon {
  font-size: 24px;
  color: var(--primary-text-color);
}

.card-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-text-container {
  padding: 20px;
  flex: 0 0 30%; /* Take up 30% of the card width */
}

.contact-image-container {
  flex: 0 0 70%; /* Take up 70% of the card width */
}

.contact-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-container {
    max-width: 80%;
  }

  .d-flex.flex-column.flex-md-row.align-items-center.w-100 {
    flex-direction: row;
  }

  .contact-text-container {
    order: 1;
  }

  .contact-image-container {
    order: 2;
  }

  .contact-image {
    height: auto;
  }
}
