/* This styles the Card components. */
.equipment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    padding-bottom: 10rem
}

.equipment-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
}
  
.equipment-title-container h1 {
    padding-top: 4rem;
    font-size: 6rem;
    color: var(--secondary-text-color);
    -ms-text-kashida-space: 1rem;
}

.equipment-title h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
    color: var(--secondary-text-color);
}

.equipment-group-container {
    width: calc(90vw - 4rem);
}

.equipment-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Changes alignment */
    padding: 2rem; /* Padding from the screen edges */
}

.equipment-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - 4rem); /* Allows for 2 cards per row with added space */
    min-height: 350px;
    margin: 2rem; /* Adds space around each card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: visible;
    background: white;
    color: black;
}

.equipment-group-title {
    text-align: center; 
    color: var(--secondary-text-color); 
    font-size: 3rem; 
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.equipment-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.equipment-card-img {
    width: 100%;
    height: auto; /* Maintains the aspect ratio of the image */
}

.equipment-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.equipment-text-container .card-title {
    font-size: 2rem;
}

.equipment-name-hover {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.equipment-text-container .card-text {
    font-size: 1.4rem; /* Increase the value as needed */
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

.equipment-buttons-container {
    display: flex;
    justify-content: space-around; /* To add space around items */
    width: 100%; /* Full width */
    padding: 0 2rem; /* 1rem padding from left and right */
}

.equipment-button {
    flex: 1;
    margin: 0 1rem;
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem; /* Increase font-size as needed */
    padding: 10px 20px; /* Increase padding as needed */
    border-radius: 10px;
    margin-bottom: 2rem;
}

.equipment-button:hover {
    scale: 1.2;
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
}
 
.equipment-button:active, .equipment-button:focus {
    background-color: var(--primary-color) !important;
    color: var(--secondary-text-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

/* This styles the Modal components. */
.equipment-modal {
    width: 100%;
}

.equipment-modal .modal-dialog{
    max-width: 100%;
    width: 1200px;
}

.equipment-modal-header {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.equipment-modal-text {
    margin-bottom: 1em;
}

.equipment-modal-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.equipment-modal-images img {
    width: calc(100% - 2rem);
    object-fit: cover;
    padding: 1rem;
}

.modal-content{
    background-color: var(--secondary-color);
}

.custom-close-button {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.custom-close-button:hover {
    background-color: red !important;
}


/* Mobile styles */
@media screen and (max-width: 600px) {

    .equipment-group-container{
        width: 100vw;
    }

    .equipment-card {
        width: calc(100% - 2rem); /* Allows for 1 card per row with added space */
    }

    .equipment-title-container h1{
        font-size: 3rem; /* adjust font size for mobile */
      }

    .equipment-text-container .card-title {
        font-size: 1.5rem; /* Smaller card title font-size */
    }

    .equipment-text-container .card-text {
        font-size: 1.2rem; /* Smaller card text font-size */
    }

    .equipment-button {
        font-size: 1rem; /* Smaller button font-size */
    }

}
