:root {
    --footer-background-color: #1c1c1c;
    --footer-text-color: #fff;
    --footer-link-color: #fff;
    --footer-link-hover-color: #ddd;
    --info-background-color: #252525;
    --info-text-color: #fff;
    --info-link-color: #fff;
    --info-link-hover: #ddd;
}

.footer {
    width: 100%;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content a {
    color: var(--footer-link-color);
    margin: 0 10px;
    text-decoration: none;
}

.footer-content a:hover {
    color: var(--footer-link-hover-color);
}

.footer-navigation{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    text-align: left;
}

.info-container {
    display: flex;
    justify-content: center;
    background-color: var(--info-background-color);
    /* sets the background color */
    color: var(--info-text-color);
    /* sets the color of the text */
    padding-bottom: 5rem;
    font-size: 1rem;
}

.web-info {
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
}

.web-info h1, .description-container h1, .address-container h1 {
    font-size: 2em; /* Scales with the container's font size */
}

.web-info .web-info-link {
    font-size: 1rem;
    padding-left: 10px;
    color: var(--info-text-color);
}

.web-info .web-info-link:hover {
    text-decoration: none;
    color: var(--info-link-hover);
}

.description-container {
    width: 50%;
    text-align: center;
}

.address-container{
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
}

.address-text{
    font-size: 1rem;
    padding-left: 10px;
}

.mobile-view-container{
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .info-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }

    .web-info, .description-container {
        flex-basis: 45%; /* Adjust this to change the width */
        flex-direction: column;
    }

    .web-info {
        padding-right: 10px;
        order: 1;
        text-align: center;
    }

    .web-info h1{
        width: 100%;
        font-size: 1.5rem;
    }

    .web-info .web-info-link {
        font-size: 1rem;
        padding-left: 1px;
        color: var(--info-text-color);
    }

    .description-container {
        padding-left: 0rem;
        order: 2;
        text-align: center;
    }

    .web-info h1, .description-container h1, .address-container h1 {
        width: 100%;
        font-size: 1.5em; /* Scales with the container's font size */
    }

    .address-container {
        order: 3;
        flex-basis: 100%;
        padding: 0 1rem;
        text-align: center;
    }

    .mobile-view-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
