/* Header.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--background-color);
    color: grey;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    height: 80px;
    z-index: 3;
    transition: all 0.5s;
  }
  
  .navbar .nav-link {
    font-size: 2rem; /* Adjust this value to make the links larger */
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    margin-right: 15px;
    transition: all 0.5s;
}

.navbar .nav-link:last-child {
  margin-right: 2rem; /* Adjust this value to add more space to the right of the last link */
}

  .navbar.scrolled {
  height: 50px;
}

.navbar.scrolled .nav-link {
  font-size: 1.5rem; /* Adjust this value to make the links smaller when scrolled */
}

  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    height: 45px;
    width: 250px;
    margin: 5px;
    margin-left: 5rem;
    transition: all 0.5s;
  }
  
  .navbar.scrolled .navbar-brand img {
    height: 30px; /* Adjust this value to make the logo smaller when scrolled */
    width: 150px;
}

  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .nav-link {
    color: var(--text-color) !important;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
    padding-right: 15px; /* Added padding-right */
  }
  
  .nav-link:hover {
    color: var(--secondary-color) !important;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar-toggle {
      display: block; /* Show the collapse button */
    }
  
    .navbar-collapse {
      display: flex; /* Hide the links */
    }
  
    .nav-link {
      display: flex;
      justify-content: center;
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 769px) {
    .navbar-toggle {
      display: none; /* Hide the collapse button on larger screens */
    }
  
    .navbar-collapse {
      display: flex; /* Show the links on larger screens */
    }
  }
  
  @media screen and (max-width: 575px) {
    .navbar-brand img {
      width: 200px;
      margin-left: 1rem;
    }
  
    .nav-link {
      font-size: 0.9rem;
    }
  }