/* Header.css adjustments for smooth transitions and adding a placeholder */

/* Placeholder for the header to maintain layout stability */
.header-placeholder {
  height: 80px; /* Match the initial navbar height */
  transition: height 0.5s ease; /* Smooth transition for height */
}

/* Adjust when scrolled */
.navbar.scrolled + .header-placeholder {
  height: 50px; /* Match the scrolled navbar height */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  background-color: var(--background-color);
  color: grey;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%; /* Ensure navbar spans the entire width */
  transition: padding 0.5s ease, box-shadow 0.5s ease;
}

.navbar .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif;
  margin-right: 15px;
  transition: font-size 0.5s ease;
}

.navbar .nav-link:last-child {
  margin-right: 1.5rem;
}

.navbar.scrolled {
  box-shadow: 0 0px 0px rgba(0,0,0,0.2);
}

.navbar.scrolled .nav-link {
  font-size: 1.5rem; /* Less dramatic change to minimize layout shift */
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  height: 40px;
  width: 225px;
  margin: 5px;
  margin-left: 5rem;
  transition: height 0.5s ease, width 0.5s ease;
}

.navbar.scrolled .navbar-brand img {
  height: 40px;
  width: 225px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: var(--text-color) !important;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
  padding-right: 15px;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

/* Header.css */
.language-icon {
  cursor: pointer;
  font-size: 1.65rem; /* Base size */
  color: var(--primary-color); /* Darkened the color */
  transition: color 0.3s, filter 0.3s, transform 0.3s; /* Added transform transition */
  margin-right: 5px;
}

.language-icon:hover {
  filter: brightness(0.8); /* Slightly darker on hover */
}

.language-icon:active {
  color: var(--primary-color); /* Original color after being pressed */
}

.language-link {
  display: flex;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.language-link:hover{
  transform: scale(1.2); /* Increase size on hover */
}

.language-text {
  font-size: 1.1rem;
  font-family: 'Rajdhani', sans-serif;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

/* Responsive Design */

/* This media query is for screen sizes between 768px and 1100px */
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .navbar-toggler {
    display: block; /* Keep the burger button visible */
    margin-right: 30px;
  }

  .navbar-brand {
    display: flex;
    position: relative;
    z-index: 1;
  }

  .navbar-brand img {
    height: 40px;
    width: 220px;
    margin: 5px;
    margin-left: 2rem;
    transition: height 0.5s ease, width 0.5s ease;
  }

  .navbar-collapse {
    display: flex; /* Keep it flex, but hidden initially using transform */
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px); /* Full height minus the navbar height */
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%); /* Start hidden above the view */
    overflow: hidden; /* Ensures content doesn't overflow when menu is hidden */
  }
  
  .navbar-collapse.show {
    transform: translateY(0); /* Slide in to view */
  }

  .nav-link {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 15px 0;
  }
}

/* This media query is for screen sizes above 1100px */
@media screen and (min-width: 1101px) {
  .navbar-toggler {
    display: none; /* Hide the burger button */
  }

  .navbar-collapse {
    display: flex; /* Display navbar items inline */
  }
}

/* This media query is for screen sizes below 768px */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-toggler {
    margin-right: 30px; /* Adds space on the right */
  }

  .navbar-collapse {
    display: flex; /* Keep it flex, but hidden initially using transform */
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
    position: fixed;
    top: 60px; /* Adjusted from 80px to account for smaller screen */
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); /* Full height minus the navbar height */
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%); /* Start hidden above the view */
    overflow: hidden; /* Ensures content doesn't overflow when menu is hidden */
    padding-top: 20px; /* Add some padding to the top */
  }
  
  .navbar-collapse.show {
    transform: translateY(0); /* Slide in to view */
  }

  .nav-link {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text horizontally */
    padding: 15px 0;
    width: 100%; /* Ensure the links span the full width */
  }

  .navbar-brand img {
    height: 30px; /* Reduce brand image height */
    width: 180px; /* Reduce brand image width */
    margin-left: 1rem;
    transition: height 0.5s ease, width 0.5s ease;
  }

  .navbar.scrolled .navbar-brand img {
    height: 30px; /* Ensure brand image height remains the same when scrolled */
    width: 180px; /* Ensure brand image width remains the same when scrolled */
  }

  .language-link {
    display: flex; /* Ensure the links span the full width */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Added padding for the language icon */
    font-size: 1.1rem; /* Ensure the font size matches other links */
    width: 100%; /* Ensure the links span the full width */
    text-align: center; /* Center text horizontally */
  }

  .language-icon {
    font-size: 1.65rem; /* Ensure the icon size is consistent */
    transition: color 0.3s, filter 0.3s, transform 0.3s; /* Added transform transition */
  }

  .language-icon:hover {
    filter: brightness(0.8); /* Slightly darker on hover */
    transform: scale(1.2); /* Increase size on hover */
  }
}
