#projectGallery {
    padding: 20px;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.project-title-container {
    text-align: center;
    margin-bottom: 20px;
}

.project-title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
    color: var(--secondary-text-color);
}

.project-gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.project-card {
    cursor: pointer;
    transition: transform 0.3s;
    border: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 400px;
}

.project-card:hover {
    transform: scale(1.05);
}

.card-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.project-card-title {
    color: #fff;
    margin: 0;
}

.modal-dialog {
    max-width: 80vw !important; /* Ensure the modal covers 80% of the viewport width */
    width: 80vw !important; /* Ensure the modal covers 80% of the viewport width */
    margin: auto;
}

.custom-modal .modal-content {
    background-color: #333; /* Change background color */
    color: #fff; /* Change text color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
}

.custom-modal .modal-header, .custom-modal .modal-footer {
    background-color: #252525; /* Darker background for header and footer */
    color: #fff; /* White text color */
}

.custom-modal .modal-header .modal-title, .custom-modal .modal-footer .btn {
    color: #fff; /* White text color */
}

.custom-modal .modal-header .btn-close {
    background-color: #ff5f5f; /* Custom close button background */
    border: none; /* Remove border */
    border-radius: 50%; /* Rounded close button */
    width: 30px; /* Custom size */
    height: 30px; /* Custom size */
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal .modal-header .btn-close:before {
    content: '×'; /* Custom close button content */
    color: #fff; /* White close button text */
    font-size: 20px; /* Custom font size */
}

.custom-modal .modal-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    max-height: 80vh; /* Ensure the modal doesn't overflow the viewport height */
}

.modal-text-container {
    flex: 0 0 40%;
    padding: 10px;
    background-color: var(--secondary-background-color); /* Updated background color */
    color: var(--secondary-text-color); /* Updated text color */
    border-radius: 10px; /* Rounded corners for text container */
}

.modal-text h2 {
    margin-top: 0;
}

.modal-images-container {
    flex: 0 0 60%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 80vh; /* Ensure the images container doesn't overflow the viewport height */
    overflow-y: auto; /* Enable scrolling for the images container */
}

.modal-image {
    max-width: 100%;
    border-radius: 5px;
    flex: 1;
}

@media (max-width: 1200px) {
    .project-gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .custom-modal .modal-body {
        flex-direction: column;
    }

    .modal-text-container, .modal-images-container {
        flex: 1;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .project-gallery-grid {
        grid-template-columns: 1fr;
    }
}
