.slogan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: var(--secondary-text-color);
    background: linear-gradient(to bottom, var(--primary-color), rgba(37,37,37,1));
    min-height: 350px;
    padding: 2rem;
  }
  
  .slogan-title {
    font-size: 3rem; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .slogan-text {
    font-size: 1.5rem; /* Adjust as needed */
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .slogan-title {
      font-size: 2rem; /* Adjust font size for mobile */
    }
  
    .slogan-text {
      font-size: 1rem; /* Adjust font size for mobile */
      line-height: 1.4; /* Adjust line height for mobile */
      max-width: 90%; /* Adjust max-width for mobile */
    }
  }